<div class="main">
  <section id="speakers">
    <div class="speaker" *ngFor="let speaker of speakers; trackBy:speaker?.name">
      <app-speaker-card
        [speaker]=speaker
        (recordRelease)="onRecordRelease(speaker)"
      ></app-speaker-card>
    </div>
  </section>
  <section id="fft-feedback">
    <div class="fft-spec">
      <app-fft-spec></app-fft-spec>
    </div>
    <div class="fft-visualizations">
      <div class="spectrogram">
        <app-spectrogram [widthInSeconds]="20"></app-spectrogram>
      </div>
      <div class="equalizer">
        <app-equalizer></app-equalizer>
      </div>
    </div>
  </section>
</div>
