<div class="card" *ngIf="!active">
  <div class="card-block">
    <svg
      width="32"
      height="32"
      class="octicon"
      aria-hidden="true"
    >
      <use xlink:href="/node_modules/octicons/build/sprite.octicons.svg#plus" /></svg>

  </div>
</div>
<div class="card" *ngIf="active">
  <div class="equalizer card-block">
    <app-equalizer [analyser]="speaker.analyser"></app-equalizer>
  </div>
  <div class="card-block">
    <h4 class="card-title">{{speaker.name}}</h4>
  </div>
</div>
