.main {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: center;
  box-sizing: content-box;
  margin: .5em;
}

.content {
  margin: .5em;
  padding-right: .75em;
  border-right: solid grey thin;
}

.content-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.action-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50px;

  margin: .75em;
}

.record {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: red;
  position: relative;
  margin: 1em;
}

.highlight {
  border: solid blue thin;
}

/*.blurb {*/
/*position: absolute;*/
/*height: 100px;*/
/*width: 100px;*/
/*top: 40px;*/
/*right: -10px;*/
/*z-index: 10;*/
/*background-color: blue;*/
/*}*/

/*.arrow {*/
/*height: 0px;*/
/*width: 0px;*/
/*border-left: 20px solid transparent;*/
/*border-right: 20px solid transparent;*/
/*border-top: 20px solid transparent;*/

/*border-bottom: 20px solid blue;*/
/*}*/

.led-red {
  width: 40px;
  height: 40px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 4s infinite;
  -moz-animation: blinkRed 4s infinite;
  -ms-animation: blinkRed 4s infinite;
  -o-animation: blinkRed 4s infinite;
  animation: blinkRed 4s infinite;
}

@-webkit-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-o-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
