<div class="main" [ngSwitch]="currentPhase">
  <div class="header">
    <button type="button" class="prev-button" (click)="navPrev()" [disabled]="isPrevNavDisabled()"></button>
    <h5>{{ speaker.name }}</h5>
    <button type="button" class="next-button" (click)="navNext()" [disabled]="isNextNavDisabled()"></button>
  </div>
  <!--TODO http://stackoverflow.com/questions/35835984/how-to-use-a-typescript-enum-value-in-an-angular2-ngswitch-statement-->
  <app-capture-sample [speaker]="speaker" (recordRelease)="navNext()" *ngSwitchCase="0"></app-capture-sample>
  <app-sample-distribution [speaker]="speaker" *ngSwitchCase="1" (ready)="navNextPossible()"></app-sample-distribution>
  <app-train [speaker]="speaker" (trained)="navNext()" *ngSwitchCase="2"></app-train>
  <app-predict [speaker]="speaker" *ngSwitchCase="3"></app-predict>
</div>

<!--<div class="main" [ngClass]="{ 'highlight': speaker.logRegClassStream?.$ | async }">-->
  <!--<app-histogram></app-histogram>-->
<!--</div>-->
<!--<div class="main" [ngClass]="{ 'highlight': speaker.logRegClassStream?.$ | async }">-->
  <!--<div class="content-section">-->
    <!--<div class="header">-->
      <!--<h3>{{speaker.name}}</h3>-->
    <!--</div>-->
    <!--<div class="content">-->
      <!--<p>I made myself a snowball-->
        <!--As perfect as could be.-->
        <!--I thought I’d keep it as a pet-->
        <!--And let it sleep with me.-->
        <!--I made it some pajamas-->
        <!--And a pillow for its head.-->
        <!--Then last night it ran away,-->
        <!--But first—it wet the bed.</p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="vr-wrap">-->
    <!--<div class="vr"></div>-->
  <!--</div>-->
  <!--<div class="action-section">-->
    <!--<div class="record led-red" (mousedown)="startCapture(speaker, $event)" (mouseup)="stopCapture(speaker, $event)" >-->
      <!--&lt;!&ndash;<div class="arrow"></div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="blurb"></div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div >-->
      <!--Click and hold to capture sample-->
    <!--</div>-->
    <!--<div>-->
      <!--<button type="button" (click)="test()">Replay Sample</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
